.btn-move {
  text-align: center;
  color: white;
  font-size: 12px;
  background-color: rgba(0, 128, 0, 0.705);
  border-radius: 3px;
  display: inline-block;
}
.btn-secondary {
  text-align: center;
  border-radius: 3px;
  display: inline-block;
  font-size: 10px;
  background: none;
  border: 1px solid;
  padding: 1px;
}

.paypal-button {
  display: block;
  float: none;
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0.625rem 0;
  width: 100%;
}
