@import "../src/null.scss";
@import "../src/btn.scss";
@import "../src/cart.scss";

//header
.brand-image {
  display: inline;
  overflow: hidden;
  border-radius: 50%;
  img {
    object-fit: cover;
    width: 32px;
    height: 32px;
  }
}
.header_contain {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.header_navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .navigationlink {
    margin-left: 8px;
    li {
      display: inline;
      a {
        color: rgb(0, 68, 0);
        font-size: 12px;
        margin-left: 8px;
        line-height: 32px;
      }
    }
  }
  .sitelink {
    li {
      display: inline;
      a {
        color: rgb(0, 68, 0);
        font-size: 12px;
        margin-right: 8px;
        line-height: 32px;
        display: inline;
      }
    }
  }
  .user-avatar-image {
    display: inline-block;
    border-radius: 50%;

    img {
      margin-right: 5px;
      overflow: hidden;
      border-radius: 50%;
      object-fit: cover;
      width: 32px;
      height: 32px;
    }
  }
}
//header...
//banner

.banner-green {
  width: 100%;
  height: 200px;
  background-color: rgba(0, 117, 0, 0.774);
  display: flex;
  align-items: center;

  .container {
    color: white;
    margin: 0 auto;
    text-align: center;
    font-weight: 800;
    h1 {
      margin-top: -30px;
      font-size: 42px;
      line-height: 60px;
    }
    p {
      font-size: 28px;
    }
  }
}

//Articles main-page
.nav-pills {
  display: flex;
  padding: 20px 10px;
  font-size: 19px;
  justify-content: space-between;
  color: green;
  .Article_filter {
    display: flex;
  }
}
.article_mainpage {
  transition: 0.5s;
  display: flex;
  .ArticlesView {
    width: 100%;
    .outline-active {
      margin-top: 10px;
      font-size: 16px;

      padding: 8px;
      a {
        color: rgb(100, 100, 100);
      }
      a.active {
        color: green;
      }
      li {
        margin-right: 15px;
      }
    }
    .pagination {
      border-radius: 10px;
      padding: 5px;
      display: inline-block;
      .page-item {
        display: inline-block;
        border: 0.5px solid rgb(80, 80, 80);
        padding: 3px;

        a {
          color: rgb(80, 80, 80);
        }
      }
      .active {
        background-color: rgba(0, 102, 0, 0.808);
        border: 0.5px solid rgba(0, 102, 0, 0.808);
        a {
          color: white;
        }
      }
    }
  }
  .sidebar {
    width: 150px;
    padding: 10px;
    position: relative;

    .regular {
      position: sticky;
      top: 15px;
      .filter_panel {
        .filter-block {
          p {
            font-size: 14px;
            color: rgb(0, 56, 0);
          }
          padding: 0px 20px;
          .fieldset {
            display: block;
            margin-top: 10px;
            .legend {
              color: rgba(56, 56, 56, 0.925);
              font-size: 11px;
              font-family: serif;
              margin-top: 5px;
              margin-left: -20px;
            }
            .MuiFormControlLabel-label {
              color: rgba(56, 56, 56, 0.925);
              font-size: 11px;
              font-family: serif;
            }
            .MuiIconButton-label {
              width: 15px;
              height: 15px;
              overflow: hidden;
              border-radius: 50%;
              border: 2px solid rgba(6, 77, 0, 0.651);
            }
          }
        }
      }
      .tagsbar {
        font-size: 14px;
        color: rgb(0, 56, 0);
        margin-top: 22px;
        .tag-list {
          padding-top: 12px;
          overflow-y: auto;
          height: 100vh;
          .tag-pill {
            display: inline-block;
            color: white;
            margin: 5px 3px;
            padding: 3px;
            font-size: 13px;
            border-radius: 2px;
            background-color: rgba(71, 71, 71, 0.651);
          }
        }
      }
      .typesbar {
        font-size: 14px;
        color: rgb(0, 56, 0);
        margin-top: 12px;
        // .type-list {
        //   padding-top: 12px;
        //   overflow-y: auto;
        //   height: 100vh;
        //   .type-pill {
        //     display: inline-block;
        //     color: white;
        //     margin: 5px 3px;
        //     padding: 3px;
        //     font-size: 13px;
        //     border-radius: 2px;
        //     background-color: rgba(71, 71, 71, 0.651);
        //   }
        // }
      }
    }
  }
}
//Articles main-page...

//article preview
.article-preview {
  padding: 20px;

  margin: 10px;
  box-shadow: 1px -1px gray;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.1) inset;

  .article_title {
    margin-bottom: 14px;
    margin-top: 12px;
    font-size: 18px;
    font-weight: 600;
  }

  .preview {
    padding-left: 8px;
    font-size: 14px;
    color: rgb(99, 97, 97);
    font-family: serif;
    line-height: 150%;
  }
  .preview-link {
    display: inline-block;
    margin-top: 20px;
    margin-left: 100%;
    transform: translate(-100%, 0);
    .article-read-more {
      width: 100px;
      height: 24px;
      line-height: 24px;
    }
  }
}
//article preview....

//article meta
.article-meta {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  .user-info {
    display: flex;
    .user-avatar-image {
      display: block;
      overflow: hidden;
      border-radius: 50%;
      img {
        object-fit: cover;
        width: 32px;
        height: 32px;
      }
    }

    .info {
      font-family: serif;
      font-size: 13px;
      color: rgb(128, 123, 123);
      margin-left: 15px;
      line-height: 15px;
      .author {
        display: block;
        color: rgb(54, 44, 44);
        font-weight: 500;
      }
      .date {
        font-size: 11px;
        display: block;
      }
    }
  }
  //Article actions
  .btn-edit {
    color: rgba(0, 128, 0, 0.616);
    border-color: rgba(0, 128, 0, 0.616);
    margin-left: 4px;
    width: 60px;
  }
  .btn-del {
    color: rgba(255, 0, 0, 0.603);
    border-color: rgba(255, 0, 0, 0.603);
    margin-left: 4px;
    width: 60px;
  }
  //Article actions...
  .pull-xs-right {
    .btn-sm {
      width: 25px;
      text-align: center;
      height: 25px;
      display: inline-block;
      border: 1px solid green;
      border-radius: 10%;
      color: green;
    }
  }
}
//article meta..

//article view
.article-page {
  .banner {
    margin-top: 10px;
    color: white;
    width: 100%;
    padding: 10px 5px;
    background-color: rgb(46, 46, 46);
    .container {
      max-width: 710px;
      margin: 0 auto;
      .author {
        color: white;
      }
      .article_title {
        font-size: 34px;
        font-weight: bold;
        padding-bottom: 30px;
      }
    }
  }

  .container-page {
    max-width: 670px;
    margin: 0 auto;
    .article-content {
      padding: 15px 5px 10px 5px;

      font-size: 14px;
      color: rgb(75, 75, 75);
      line-height: 150%;
    }
    .article-actions {
      padding: 10px 5px 20px 5px;
    }
  }
}
//article view

//comment-container
.reg-notice {
  text-align: center;
  font-size: 12px;
  p {
    color: rgb(0, 65, 14);
  }
  a {
    color: rgb(0, 65, 14);
    text-decoration: underline;
  }
}
//comment
.card {
  margin-top: 20px;
  text-align: left;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.1) inset;
  .card-block {
    padding: 15px;
    textarea {
      width: 100%;
    }
    .card-text {
      font-size: 13px;
      color: rgb(46, 46, 46);
    }
  }

  .card-footer {
    color: rgb(99, 97, 97);
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;

    a {
      color: rgb(99, 97, 97);
      text-decoration: none;
    }
    font-size: 9px;
    padding: 6px;
    background-color: rgba(197, 197, 197, 0.26);
    .user-avatar-image {
      display: inline;
      overflow: hidden;
      border-radius: 50%;
      img {
        object-fit: cover;
        width: 20px;
        height: 20px;
      }
    }
    .comment-author-img {
      display: inline;
      overflow: hidden;
      border-radius: 50%;
      img {
        object-fit: cover;
        width: 28px;
        height: 28px;
      }
    }
    .btn {
      padding: 4px;
    }
    .comment-author {
      margin-left: 5px;
      line-height: 20px;
    }
    .date-posted {
      line-height: 20px;
      margin-left: 7px;
    }
    .mod-options {
      cursor: pointer;
      padding-right: 5px;
      font-size: 16px;
      color: rgba(255, 0, 0, 0.521);
    }
  }
}
.active {
  margin-top: 20px;
  text-align: left;
  -webkit-box-shadow: 0px 5px 30px -3px rgba(154, 2, 2, 0.2);
  -moz-box-shadow: 0px 5px 30px -3px rgba(154, 2, 2, 0.2);
  box-shadow: 0px 5px 30px -3px rgba(154, 2, 2, 0.2);
}
//comment...

//comment-container...

//tag-list
.tag-list {
  .addtag {
    border-radius: 10px;
    margin-top: 2px;
    input {
      width: 100%;
      border-radius: 2px;
      padding: 2px;
      background-color: rgba(59, 59, 59, 0.589);
    }
  }
  .tag-list-page {
    padding: 10px 0px;
  }
  li {
    display: inline;
    span {
      border-radius: 10%;
      padding: 5px;
      font-size: 13px;
      margin-left: 4px;
      background-color: rgba($color: #4e4949ee, $alpha: 0.6);
      color: white;
    }
  }
}
//tag-list...

//article editor page
.articleEditorPage {
  .container {
    max-width: 710px;
    padding: 0 5px;
    margin: 0 auto;
    .articleEditor {
      font-size: none;
      padding: 20px 8px;
      line-height: 150%;
      margin: 20px 0 0 0;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.1) inset;
    }

    .article-title-element {
      padding: 5px 10px;
      margin: 20px 0;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.1) inset;
      .article-title {
        font-size: 14px;
        font-weight: bold;
        width: 100%;
      }
    }

    .tag-and-send-field {
      display: flex;
      justify-content: space-between;

      .send-button-element {
        order: 2;
        .btn {
          padding: 8px;
        }
      }
      .tags-input-element {
        order: 1;
        .form-control {
          padding: 5px;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
            0 0 1px rgba(0, 0, 0, 0.1) inset;
        }
        .tag-list {
          margin-top: 20px;
          .tag-pill {
            border-radius: 10%;
            padding: 5px;
            font-size: 11px;
            font-weight: 400;
            margin-left: 4px;
            background-color: rgba($color: #3a3838ee, $alpha: 0.6);
            color: white;
          }

          .ion-close-round {
            padding: 2px;
          }
        }
      }
    }
  }
}
//article editor page...

//Log-in
.auth-page {
  .container {
    margin: 20px auto;
    padding: 10px;
    max-width: 340px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.1) inset;
    .row {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      .form-group {
        margin-top: 15px;
        .form-control {
          width: 100%;
          padding: 5px;
          height: 30px;
          background: none;
          border-radius: 2px;
          font-size: 12px;
          color: rgb(66, 66, 66);
          border: 0.5px solid;
          border-color: rgba(128, 128, 128, 0.404);
          &:focus {
            background: none;
            border: 0.5px solid rgba(137, 43, 226, 0.568);
          }
          &::placeholder {
            color: rgba(128, 128, 128, 0.507);
            font-weight: 400;
          }
        }
      }
      .text-xs-center {
        text-align: center;
      }
      h1 {
        font-size: 35px;
        font-weight: 700;
        color: rgba(48, 107, 0, 0.842);
        font-style: italic;
      }
      p {
        margin-top: 10px;
        a {
          color: rgb(53, 53, 53);
          font-size: 12px;
          font-weight: 300;
        }
      }

      .btn-lg {
        margin-top: 15px;
        padding: 5px 15px;
        margin-left: auto;
        color: white;
        font-size: 12px;
        background-color: rgba(0, 128, 0, 0.705);
        border-radius: 3px;
        display: inline-block;
        margin-left: 100%;
        width: 70px;
        transform: translate(-100%, 0);
      }
    }
  }
}
//Log-in...

//setting
.settings-page {
  .container {
    margin: 20px auto;
    padding: 10px;
    max-width: 400px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.1) inset;
    .row {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      fieldset {
        width: 100%;
      }
      .avatar-change-input {
        display: none;
      }
      .avatar-change {
        cursor: pointer;
        display: block;
        margin-top: 20px;
        text-align: center;
        color: rgba(0, 105, 0, 0.705);
        border-radius: 5px;
        padding: 5px;
        width: 100%;
        line-height: 12px;
        font-size: 12px;
        border: 1px solid rgba(0, 105, 0, 0.705);
      }

      .form-group {
        width: 100%;
        margin-top: 15px;
        .form-control {
          width: 250px;
          padding: 5px;
          height: 30px;
          background: none;
          border-radius: 2px;
          font-size: 12px;
          color: rgb(66, 66, 66);
          border: 0.5px solid;
          border-color: rgba(128, 128, 128, 0.404);
          &:focus {
            background: none;
            border: 0.5px solid rgba(137, 43, 226, 0.568);
          }
          &::placeholder {
            color: rgba(128, 128, 128, 0.507);
            font-weight: 400;
          }
        }
      }
      .text-xs-center {
        text-align: center;
      }
      h1 {
        font-size: 29px;
        font-weight: 700;
        color: rgba(31, 68, 0, 0.842);
      }
      p {
        margin-top: 10px;
        a {
          color: rgb(53, 53, 53);
          font-size: 12px;
          font-weight: 300;
        }
      }

      .btn-lg {
        margin-top: 20px;
        padding: 5px 15px;
        margin-left: auto;
        color: white;
        font-size: 13px;
        background-color: rgba(0, 105, 0, 0.705);
        border-radius: 3px;
        display: inline-block;
        margin-left: 100%;
        width: 120px;
        transform: translate(-100%, 0);
      }
      .acc-control-buttons {
        margin-top: 20px;

        .btn-outline-danger {
          display: block;
          color: rgba(255, 0, 0, 0.733);
          outline-color: rgba(255, 0, 0, 0.719);
          padding: 3px;
          font-weight: normal;
          font-size: 12px;
        }
        .btn-outline-del {
          display: block;
          color: rgba(66, 66, 66, 0.918);
          outline: none;
          font-size: 9px;
          padding: 10px;
        }
      }
    }
  }
}
//setting...

//items
.item-page {
  max-width: 760px;
  padding: 5px;

  .feed-toggle {
    font-size: 15px;
    a {
      color: gray;
    }
  }
  .item-list {
    display: flex;
    .item-preview {
      padding: 5px;
      width: 130px;
      height: 220px;
      margin: 5px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.1) inset;
      .item-meta {
        display: inline-block;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        justify-content: space-between;
        .item-img {
          img {
            width: 110px;
            height: 150px;
            object-fit: cover;
          }
        }
        .item-title {
          margin-top: 5px;
          font-size: 12px;
          color: rgb(70, 70, 70);
        }
        .item-price-info {
          display: flex;

          justify-content: space-between;

          display: flex;
          .item-price {
            margin-top: 3px;
            color: green;
          }
          .item-buy-button {
            width: 20px;
            height: 20px;
            overflow: hidden;
            color: green;

            background-image: url("./ico/buy.svg");
            background-position: left center;
            background-repeat: no-repeat;
            background-size: cover;
            button {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}
//items
// question
.question {
  .container {
    .row {
      display: flex;
      .col-md-9 {
        width: 100%;
        .feed-toggle {
          .col-md-3 {
            display: flex;
          }
          .outline-active {
            margin-top: 10px;
            font-size: 16px;

            padding: 8px;
            a {
              color: rgb(100, 100, 100);
            }
            a.active {
              color: green;
            }
            li {
              margin-right: 15px;
            }
          }
        }
        .question-list {
          .article-preview {
            padding: 20px;

            margin: 10px;
            box-shadow: 1px -1px gray;
            position: relative;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
              0 0 1px rgba(0, 0, 0, 0.1) inset;

            .article_title {
              margin-bottom: 14px;
              margin-top: 12px;
              font-size: 18px;
              font-weight: 600;
            }

            .preview {
              padding-left: 8px;
              font-size: 14px;
              color: rgb(99, 97, 97);
              font-family: serif;
              line-height: 150%;
            }
            .preview-link {
              display: inline-block;
              margin-top: 20px;
              margin-left: 100%;
              transform: translate(-100%, 0);
              .article-read-more {
                width: 100px;
                height: 24px;
                line-height: 24px;
              }
            }
            .solution {
              border-radius: 5px;
              border: 1px solid green;
              color: green;
              padding: 4px;
            }
            .tagsbar {
              font-size: 14px;
              color: rgb(0, 56, 0);

              .tag-list {
                overflow-y: auto;

                .tag-pill {
                  text-transform: lowercase;

                  display: inline-block;
                  color: white;
                  margin: 5px 3px;
                  padding: 3px;
                  font-size: 13px;
                  border-radius: 2px;
                  background-color: rgba(71, 71, 71, 0.651);
                }
                .type-pill {
                  text-transform: lowercase;

                  display: inline-block;
                  color: white;
                  margin: 5px 3px;
                  padding: 3px;
                  font-size: 13px;
                  border-radius: 2px;
                  background-color: rgba(71, 71, 71, 0.651);
                }
              }
            }
          }
        }
      }
    }
  }
  .sidebar {
    width: 150px;
    padding: 10px;

    position: relative;

    .regular {
      position: sticky;
      top: 15px;
      .categories {
        color: rgba(0, 65, 0, 0.932);
        font-size: 14px;
        font-family: "Times New Roman", Times, serif;
      }

      .tag-list {
        padding-top: 12px;
        overflow-y: auto;

        .tag-default {
          display: inline-block;
          color: white;
          margin: 5px 3px;
          padding: 3px;
          font-size: 13px;
          border-radius: 2px;
          background-color: rgba(71, 71, 71, 0.651);
        }
      }
      .MuiTypography-root {
        color: rgba(0, 65, 0, 0.932);
        font-size: 14px;
        font-family: "Times New Roman", Times, serif;
      }
    }
  }
}
//question
//question editor
.editor-page {
  .container {
    margin: 0 auto;
    max-width: 740px;
    padding: 5px;
    .row {
      display: flex;
      justify-content: space-between;
      margin: 15px 0;
      .form-control-title {
        height: 25px;
        padding: 0 5px;
      }

      .avatar-change-input {
        display: none;
      }

      .avatar-change {
        cursor: pointer;
        display: block;
        text-align: center;
        color: rgba(0, 105, 0, 0.705);
        min-width: 100px;
        font-size: 12px;
      }
      .btn-publish {
        padding: 5px;
      }
      .category-list {
        .categories {
          color: rgba(0, 70, 0, 0.918);
          font-size: 14px;
        }
        select {
          border: 0.8px solid rgba(0, 70, 0, 0.89);
          border-radius: 2px;
          font-size: 12px;
          color: gray;
          margin-left: 5px;
        }
      }
    }

    .form-group {
      width: 100%;
      input {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
          0 0 1px rgba(0, 0, 0, 0.1) inset;
        width: 100%;
        color: rgb(49, 49, 49);
      }
      textarea {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
          0 0 1px rgba(0, 0, 0, 0.1) inset;
        width: 100%;
        padding: 5px;
        color: rgb(49, 49, 49);
        line-height: 150%;
      }
    }
  }
}
.loading {
  color: gray;
  font-size: 12px;
  padding: 5px;
}

//user profile
.profile-header {
  min-height: 60vh;
  background: #009fff;
  background: linear-gradient(to right, #ec2f4b, #009fff);
  color: white;
  clip-path: ellipse(100vw 60vh at 50% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  height: 6rem;
  width: 6rem;
  object-fit: center;
  border-radius: 50%;
  border: 2px solid #fff;
}

.profile-details {
  text-align: center;
}

.heading {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 1rem 0;
}

.stats {
  display: flex;
}

.stats .col-4 {
  width: 10rem;
  text-align: center;
}

.user-action {
  display: inline-block;
  vertical-align: middle;
}
.material-icons.md-18 {
  font-size: 16px;
}

// .md-cart {
//   font-size: 24px;
//   line-height: 32px;
// }

//cart

// .summary_card {
//   background-color: #fff;
//   width: 350px;
//   height: 400px;
//   box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
//   border-radius: 8px;
//   padding: 10px;
// }

// /*
// Order Card Item Card
// */
// .card_item {
//   display: flex;
//   position: relative;
//   margin: 10px 0;
// }
// .close-btn {
//   position: absolute;
//   right: 10px;
//   top: 5px;
// }

// .card_item .product_img img {
//   height: 80px;
//   margin-right: 20px;
//   width: 70px;
//   border-radius: 5px;
// }

// .product_info h1 {
//   font-size: 20px;
//   color: #1e212d;
//   margin: 5px 0;
// }

// .product_info p {
//   color: #a1a1a1;
//   font-size: 14px;
// }
// .product_rate_info {
//   display: flex;
//   margin: 5px 0;
//   align-items: center;
//   justify-content: space-between;
// }

// /*
// cart item + & -
// */
// .pqt {
//   font-size: 20px;
//   line-height: 30px;
//   width: 30px;
//   text-align: center;
// }

// .pqt-plus,
// .pqt-minus {
//   background: #fcfcfc;
//   border: none;
//   font-size: 20px;
//   height: 100%;
//   padding: 0 15px;
// }
// .pqt-plus:hover,
// .pqt-minus:hover {
//   background: #53b5aa;
//   color: #fff;
//   cursor: pointer;
// }

// .pqt-plus {
//   line-height: 30px;
// }

// .pqt-minus {
//   line-height: 30px;
// }
// /*
// Order price & total
// */
// .order_price,
// .order_service,
// .order_total {
//   display: flex;

//   justify-content: space-between;
//   padding: 10px;
// }
// .order_price p,
// .order_service p {
//   color: #a1a1a1;
// }

// .order_total p {
//   font-weight: 600;
// }

// .h1-cart-item {
//   font-size: 16px;
//   margin: 5px;
// }
.container-cart {
  width: 100%;
  height: 92vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f9fafc;
}

.buy-butt-container {
  position: center;
  align-items: center;
}

.one-item-page {
  .item-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
  }
  .left-column {
    width: 65%;
    position: relative;
    object-position: 100% 10%;
  }

  .right-column {
    object-position: 100% 10%;
    width: 65%;
    margin-top: 60px;
  }
  .left-column img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .left-column img.active {
    opacity: 1;
  }
  .product-description {
    border-bottom: 1px solid #e1e8ee;
    margin-bottom: 20px;
  }
  .product-description span {
    font-size: 12px;
    color: #358ed7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484d;
    letter-spacing: -2px;
  }
  .product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939e;
    line-height: 24px;
  }

  .product-price {
    display: flex;
    align-items: center;
  }

  .product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474d;
    margin-right: 20px;
  }

  .cart-btn {
    display: inline-block;
    background-color: #7dc855;
    border-radius: 6px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 30px;
    transition: all 0.5s;
  }
  .cart-btn:hover {
    background-color: #64af3d;
  }
}
